<h2>Task List:</h2>
    <% @tasks.each do |t| %>
        <p>
            <%= "#{t[:action]} #{t[:description]}" %>
            <%= link_to("details", task_path(t[:id])) %>
            <%= link_to("destroy", task_path(t[:id]), method: :delete, data: {confirm: "Are you sure you want to permanently destroy this task?"}) %>
            <%= button_to("mark this task complete", task_complete_path(t), method: :patch) %>
        </p>
    <% end %>


<h3><%= link_to("Add a new task here...", tasks_new_path) %></h3>



<!-- rails default content: -->
<!-- <h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p> -->
